@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Mukta:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Holtwood+One+SC&family=Kdam+Thmor+Pro&family=Mukta:wght@200&family=Press+Start+2P&display=swap');



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  
  font-family: "poppins",sans-serif;
  cursor:none ;
}


.pointer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40px;
  height: 40px;
  background:rgba(255, 0, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  pointer-events: none;
  box-sizing: border-box;
}

.pointer{
  transition: 0.03s;
}
.pointer2{
  transition: 0.13s;
}
.pointer3{
  transition: 0.18s;
}
.pointer4{
  transition:0.23s;
}
.pointer5{
  transition: 0.28s;
}









nav{
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height:10vh;
  align-items: center;
  margin: auto;
}
.nav-links{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-links li{
  padding: 1rem;
}


.nav-links, h1{
  flex: 1;
}
.cursor{
  width: 3rem;
  height: 3rem;
  border: solid black 2px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background,transform;
  transform-origin: 100% 100%;
  z-index: -1;
  backdrop-filter:grayscale() ;
}

.link-grow{
  transform: scale(2);
  background: black;
}

.hovered-link{
  color: white;
}
.front-cover img{
  align-items: center;
  margin-left: 20%;
  height: 770px;
}


.front-cover{
  position: relative;
  z-index: -3;
}

@media (max-width:480px){
  .front-cover img{
    width: 300px;
    height: 200px;
  }
}










/* bar tep */


.texts h1{
  font-size: 45px;
  text-align: center;
  font-family: 'Blaka Hollow', cursive;
 
}

.texts  p{
  text-align: center;
  font-family: 'Mukta', sans-serif;
}
#scrollbarProgress{
  position: fixed;
  top: 0;
  width: 20%;
  height:15px;
  background: linear-gradient(to left,gold,rgb(31, 199, 68));

}


/* BAR CHET */
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb{
  border-radius: 50px;
    background:linear-gradient(to bottom ,rgb(6, 240, 248),rgb(238, 12, 238));
}
/* ::-webkit-scrollbar-thumb:hover{
  transition: 1s;
  border-radius: 50px;
  background:linear-gradient(to bottom ,rgb(251, 255, 4),rgb(29, 6, 241));
} */


/* 
.container{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}
.container .box{
  position: relative;
  width: 450px;
  height: 300px;
  margin: 60px 0;
  background: black;
  background: black;
}

.container .box .imgBx{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
.container .box  .contentBx{
  position: absolute;
  top: 50%;
  left: 50px;
  right: 50px;
  background: #fff;
  transform: translateZ(20px) scaleY(0); 
  transition: 0.5s;
}


 */


.content h1,p{
  color: black;
}

.square{
  margin-left: 40%;
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square span:nth-child(1){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(187, 216, 22);
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 1s;
  animation: animate 6s linear infinite;
}

.square:hover span:nth-child(1){
  border: none;
  background: rgba(0, 0, 255, 0.3);
}


.square span:nth-child(2){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(229, 243, 26);
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 1s;
  animation: animate 6s linear infinite;
}

.square:hover span:nth-child(2){
  border: none;
  background: rgba(0, 0, 255, 0.3);
}


.square span:nth-child(3){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(175, 235, 11);
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 1s;
  animation: animate2 6s linear infinite;
}

.square:hover span:nth-child(3){
  border: none;
  background: rgba(0, 0, 255, 0.3);
}
 
 
@keyframes animate{
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}

@keyframes animate2{
  0%{
    transform: rotate(360deg);
  }

  100%{
    transform: rotate(0deg);
  }
}


.content{
  position: relative;
  padding: 40px 60px;
  color: white;
  text-align: center;
  transition: 0.5s;
  z-index: 1000;
}

.content a{
  position: relative;
  display: inline-block;
  margin-top: 10px;
  border: 2px solid white;
  padding: 6px 18px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  border-radius: 73% 27% 44% 59% / 49% 44% 56% 51%;
}
.content a:hover{
  background-color: white;
  color: black;
}

@media (max-width:480px){
  .square{
    margin-left: 30px;
  }
}